<h1>やってないことリスト</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>やる日</th>
      <th>やった</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <ul class="list">
    <% @tasks.each do |task| %>
      <li>
        <p><%= task.name %></p>
        <p><%= task.due_date %></p>
        <p><%= task.done %></p>
      </li>
    <% end %>
  </ul>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
